In [37]:
import pandas as pd
import numpy as np
from pandas_datareader import data as wb

## Importing and Organizing Your Data in Python - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

a. Create a series object of 10 randomly generated integer values.

In [33]:
a = pd.Series(np.random.randint(low=0,high=100,size=10),name='Column 01')

In [34]:
a

0    82
1    55
2    96
3    96
4    10
5    15
6    17
7    30
8    80
9    98
Name: Column 01, dtype: int32

b. Extract data from Yahoo Finance for Ford from the 1st of January 2005. The ticker you need is ‘F’.

In [42]:
a = wb.DataReader(name='F',data_source='yahoo',start='2005-1-1')

In [43]:
a.head()

             High    Low   Open  Close      Volume  Adj Close
Date
2004-12-31  14.80  14.59  14.75  14.64   3663700.0   9.227711
2005-01-03  14.75  14.51  14.66  14.71   9852200.0   9.271832
2005-01-04  14.75  14.59  14.71  14.66   9035400.0   9.240316
2005-01-05  14.66  14.42  14.63  14.43  11376200.0   9.095345
2005-01-06  14.52  14.37  14.40  14.45   6672600.0   9.107948