In [10]:
import pandas as pd
import numpy as py

## Importing and Organizing Your Data in Python - Part II

In [4]:
from pandas_datareader import data as wb
F = wb.DataReader('F', data_source='yahoo', start='2005-1-1')
F.head()

             High    Low   Open  Close      Volume  Adj Close
Date
2004-12-31  14.80  14.59  14.75  14.64   3663700.0   9.227711
2005-01-03  14.75  14.51  14.66  14.71   9852200.0   9.271832
2005-01-04  14.75  14.59  14.71  14.66   9035400.0   9.240316
2005-01-05  14.66  14.42  14.63  14.43  11376200.0   9.095345
2005-01-06  14.52  14.37  14.40  14.45   6672600.0   9.107950

Use the “info” method to obtain basic statistics, regarding the data you extracted in the previous exercise (data from Yahoo Finance for Ford starting from the 1st of January 2005 until today).

In [5]:
F.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4237 entries, 2004-12-31 to 2021-10-28
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       4237 non-null   float64
 1   Low        4237 non-null   float64
 2   Open       4237 non-null   float64
 3   Close      4237 non-null   float64
 4   Volume     4237 non-null   float64
 5   Adj Close  4237 non-null   float64
dtypes: float64(6)
memory usage: 231.7 KB

Apply the “head” and “tail” methods and observe the output. How would you interpret the adjusted closing prices?

In [ ]:
F.head()

In [ ]:
F.tail()

Practice extracting adjusted closing price data from the same source and for the same timeframe. Do this for Apple, Microsoft, Exxon, and British Petroleum. 
Use Google to find the tickers of these companies, if you don’t already know them.

In [8]:
F['Adj Close']

Date
2004-12-31     9.227711
2005-01-03     9.271832
2005-01-04     9.240316
2005-01-05     9.095345
2005-01-06     9.107950
                ...
2021-10-22    16.280001
2021-10-25    16.000000
2021-10-26    15.940000
2021-10-27    15.510000
2021-10-28    16.904600
Name: Adj Close, Length: 4237, dtype: float64

In [13]:
F.index = pd.to_datetime(F.index)

*****

Repeat this exercise for any stock of interest to you. :)