## Importing and Organizing Your Data in Python - Part III

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Import the 'example 01' file you created in the previous lecture and set the 'Date' column as an index of that table. 
Remember that there are two possible answers to this question.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('Data_03.xlsx')

In [6]:
data.set_index('Year',inplace=True)

In [9]:
data.head()

      Gas Exp     Pop       Gasp  Income
Year
1953      7.4  159565  16.667999    8883
1954      7.8  162391  17.028999    8685
1955      8.6  165275  17.209999    9137
1956      9.4  168221  17.729000    9436
1957     10.2  171274  18.497000    9534